@using Microsoft.AspNetCore.Identity
@using Dashboard.Models

@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager

@{
    var user = await UserManager.GetUserAsync(User);
}

<!-- Navbar -->
@* <nav class="navbar navbar-expand-lg navbar-light bg-loght" style="background-color:rgb(14, 13, 46)"> *@


<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light " style="background-color:rgb(14, 13, 46)">
    <!-- Container wrapper -->
    <div class="container-fluid">
        <!-- Toggle button -->
        <button class="navbar-toggler"
                type="button"
                data-mdb-toggle="collapse"
                data-mdb-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent"
                aria-expanded="false"
                aria-label="Toggle navigation">
            <i class="fas fa-bars"></i>
        </button>

        <!-- Collapsible wrapper -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <!-- Navbar brand -->
            <a class="navbar-brand mt-2 mt-lg-0" href="#">
                <img src="https://mdbcdn.b-cdn.net/img/logo/mdb-transaprent-noshadows.webp"
                     height="15"
                     alt="MDB Logo"
                     loading="lazy" />
            </a>
            <!-- Left links -->
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="#">Dashboard</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Team</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Projects</a>
                </li>
            </ul>
            <!-- Left links -->
        </div>
        <!-- Collapsible wrapper -->
        <!-- Right elements -->
        <div class="d-flex align-items-center">
            <!-- Icon -->
            
           
            @if (SignInManager.IsSignedIn(User))
            {
               
                <a class="link-secondary me-3" href="#">
                    <i class="fas fa-shopping-cart"></i>
                </a>

                <!-- Notifications -->
                <div class="dropdown">
                    <a class="link-secondary me-3 dropdown-toggle hidden-arrow"
                       href="#"
                       id="navbarDropdownMenuLink"
                       role="button"
                       data-mdb-toggle="dropdown"
                       aria-expanded="false">
                        <i class="fas fa-bell"></i>
                        <span class="badge rounded-pill badge-notification bg-danger">1</span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end"
                        aria-labelledby="navbarDropdownMenuLink">
                        <li>
                            <a class="dropdown-item" href="#">Some news</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="#">Another news</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="#">Something else here</a>
                        </li>
                    </ul>
                </div>
                <!-- Avatar -->
                @if (user != null)
                {
                    <div class="dropdown">
                        <a class="dropdown-toggle d-flex align-items-center hidden-arrow"
                           href="#"
                           id="navbarDropdownMenuAvatar"
                           role="button"
                           data-mdb-toggle="dropdown"
                           aria-expanded="false">
                            <img src="/User_Images/@user.UrlImage"
                                 class="rounded-circle"
                                 height="25"
                                 alt="Black and White Portrait of a Man"
                                 loading="lazy" />
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end"
                            aria-labelledby="navbarDropdownMenuAvatar">
                            <li>
                                <a id="manage" class="dropdown-item" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">My profile</a>
                            </li>
                            <li>
                                <form id="logoutForm" class="dropdown-item" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                                    <button id="logout" type="submit" class="nav-link btn btn-link text-dark border-0">Logout</button>
                                </form>
                            </li>
                        </ul>
                    </div>


                }
                else
                {
                    <p><strong> Hello @user.FirstName</strong></p>
                    <div class="dropdown">
                        <a class="dropdown-toggle d-flex align-items-center hidden-arrow"
                           href="#"
                           id="navbarDropdownMenuAvatar"
                           role="button"
                           data-mdb-toggle="dropdown"
                           aria-expanded="false">
                            <img src="https://mdbcdn.b-cdn.net/img/new/avatars/2.webp"
                                 class="rounded-circle"
                                 height="25"
                                 alt="Black and White Portrait of a Man"
                                 loading="lazy" />
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end"
                            aria-labelledby="navbarDropdownMenuAvatar">
                            <li>
                                <a id="manage" class="dropdown-item" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">My profile</a>
                            </li>
                            <li>
                                <form id="logoutForm" class="dropdown-item" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                                    <button id="logout" type="submit" class="nav-link btn btn-link text-dark border-0">Logout</button>
                                </form>
                            </li>
                        </ul>
                    </div>
                }
               
            }
            else
            {
                <div class="dropdown">
                    <a class="dropdown-toggle d-flex align-items-center "
                       href="#"
                       id="navbarDropdownMenuAvatar"
                       role="button"
                       data-mdb-toggle="dropdown"
                       aria-expanded="false">Click
                        <!-- No image will be displayed for non-signed-in users -->
                    </a>

                   
                    <ul class="dropdown-menu dropdown-menu-end"
                        aria-labelledby="navbarDropdownMenuAvatar">
                        <li>
                            <a class="nav-link text-dark" id="register" asp-area="Identity" asp-page="/Account/Register">Register</a>
                        
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" id="login" asp-area="Identity" asp-page="/Account/Login">Login</a>
                        </li>

                    </ul>
                </div>
            }


           













            

            
        </div>
        <!-- Right elements -->
    </div>
    <!-- Container wrapper -->
</nav>
<!-- Navbar -->